* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #3b75d8;
}

.box {
  background: #cefa87;
  width: 33vw;
  height: 43vh;
  border: 1px solid #333;
}

.input-parent {
  height: 10%;
  /* background-color: coral; */
  position: relative;
}

.password-output {
  display: block;
  width: 90%;
  height: 100%;
  margin: 10px auto;
  font-size: 20px;
  padding-left: 5px;
  transition: outline 0.2s;
}
.password-output:focus {
  outline-color: #3b75d8;
  outline-offset: 1px;
}

.btn-copy {
  top: 50%;
  left: 88.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 5px 12px;
  text-transform: uppercase;
  background-color: #3b75d8;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  /* border: 1px transparent rgba(10, 10, 10, 0); */
  /* outline: none; */
}
/* .btn-copy:hover {
  outline: black;
  outline-color: #3b75d8;
  outline-offset: 31px;
} */

/* //////////////////////////////////////////////////////////// */

.lower-part {
  margin: 25px auto;
  /* padding: 5px; */

  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-for-length,
.input-for-numbers,
.input-for-symbols,
.input-for-small-letters,
.input-for-big-letters,
.generate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-length {
  padding: 2px 5px;
  font-size: 18px;
  transition: outline 0.2s;
}
.input-length:focus {
  outline-color: #3b75d8;
  outline-offset: 1px;
}
/* ////////////////////////////////////////////////// */
.btn-generate {
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #3b75d8;
  color: #fff;
  font-size: 18px;
  border: 1px solid #333;
  outline: none;
}
.btn-generate:hover {
  background-color: #3b75d8;
}

input[type='checkbox'] {
  padding-left: 30px;
}

label {
  font-style: italic;
  font-size: 18px;
  color: #3b75d8;
}
